@import url(/mission-02/ally.css);

/* 전체 폰트 적용 */
body {
  font-size: 14px;
  font-family: "Abel";
}

/* padding 8px 주고, 로그인 버튼에서만 absolute */

fieldset {
  border: 0;
}

/* 링크 정리 */
a {
  text-decoration-line: none;
  text-decoration: none;
}

/* p 태그 아이디, 비밀번호 내용 정리
p {
  margin: 2px;
  padding: 0;
}

p > label {
  position: relative;
  right: 8px;
}

p > input {
  position: relative;
  right: 4px;
} */

/* 로그인 타이틀 padding*/

h3 {
  display: block;
  width: 42px;
  height: 23px;
  color: #ffff00;

  /* heading/Large */
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  padding: 12px 0 8px 12px;
  margin: 0;
}

/* Input Class */

input {
  box-sizing: border-box;
  width: 90px;
  height: 24px;
  padding: 0 0 0 8px;
}

label {
  display: inline-block;
  width: 50px;
}

/* 로그인 영역 */

.loginSection {
  background: linear-gradient(90deg, #ed552f 0%, #e8852e 100%);
  width: 244px;
  height: 161px;
  border-radius: 4px;
  box-shadow: 6px 6px rgba(128, 128, 128, 0.632);
}

.loginForm {
  background-color: white;
  position: relative;
  width: 220px;
  height: 106px;
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 5px;
}

/* 로그인 버튼 */
.btnLogin {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 50px;
  height: 58px;
  font-size: 13px;
  background: #ed552f;
  border-radius: 5px;
  border: none;
  color: white;
}

/* 회원 가입 아이디, 비밀번호 찾기 리스트 */
/* flow root */
.userInfo {
  border-top: 1px solid #dedede;
  width: 188px;
  margin: 0;
  padding: 8px;
  /* --position: relative; */
  /* --bottom: 50px;
  --right: 8px; */
  display: flow-root;
  /* diplay 처리 어떻게 하는지 */
}

.id,
.pwd {
  padding: 4px;
}

li {
  list-style: none;
  /* color 어떻게 주지? -- form 안에 넣어버림*/
  float: left;
  /* --position: relative; */
  font-size: 13px;
}

li:nth-child(1) {
  padding-right: 4px;
}
